# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\DCyuanxing20220301\2022-03-06qq1406299528chongwuyiyuanjspssmyoushangchengzhifu\qq1406299528chongwuyiyuanyuanmassmjsp\宠物医院信息管理系统\jspmjl5mx - 副本\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
